.beautiful-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color:#4520ab;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .beautiful-button:hover {
    background-color: #4520ab;
  }
  .waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(121, 85, 72, 0.65);
   }